@model GymWebApplication1.Models.Trainer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trainer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainerName" class="control-label"></label>
                <input asp-for="TrainerName" class="form-control" />
                <span asp-validation-for="TrainerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerLastName" class="control-label"></label>
                <input asp-for="TrainerLastName" class="form-control" />
                <span asp-validation-for="TrainerLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerAddress" class="control-label"></label>
                <input asp-for="TrainerAddress" class="form-control" />
                <span asp-validation-for="TrainerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerContact" class="control-label"></label>
                <input asp-for="TrainerContact" class="form-control" />
                <span asp-validation-for="TrainerContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

